<h2>{{ "power.power" | translate }}</h2>
<br />
<div class="power">
  <div class="domain">
    <p>{{ "power.domain" | translate }}</p>
    <p>{{ "power.puig" | translate }}</p>
  </div>
  <div class="function">
    <p>{{ "power.function" | translate }}</p>
    <select
      class="select-power"
      [(ngModel)]="selectedOption"
      [disabled]="isDisabled"
      name="selectedOption"
      (change)="onHandleSelectChange($event)"
    >
      <option *ngIf="!selectedOption" [ngValue]="null" disabled selected>{{ "power.selectOption" | translate }}</option>
      <option value="SuperiorCycle">{{ "power.superiorCycle" | translate }}</option>
    </select>
    <button
      class="add-option-btn"
      [disabled]="isDisabled || !selectedOption"
      (click)="addOption()"
    >
      {{ "power.add" | translate }}
    </button>
  </div>
</div>

<div *ngIf="viewMode === 'create'">
  <div *ngFor="let option of addedOptions; let i = index" class="option-container">
    <p>{{ option.tmf_function }}</p>
    <ng-container *ngIf="option.tmf_function === 'SuperiorCycle'">
      <mat-slide-toggle [(ngModel)]="option.dam" name="dam-{{ i }}" [disabled]="isDisabled">
        {{ "power.dam" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="option.dau" name="dau-{{ i }}" [disabled]="isDisabled">
        {{ "power.dau" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="option.asix" name="asix-{{ i }}" [disabled]="isDisabled">
        {{ "power.asix" | translate }}
      </mat-slide-toggle>
    </ng-container>
  </div>
</div>

<div *ngIf="viewMode === 'detail'">
  <div *ngFor="let option of power; let i = index" class="option-container">
    <p>{{ option.tmf_function }}</p>
    <ng-container *ngIf="option.tmf_function === 'SuperiorCycle'">
      <mat-slide-toggle [(ngModel)]="option.dam" name="dam-{{ i }}" disabled>
        {{ "power.dam" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="option.dau" name="dau-{{ i }}" disabled>
        {{ "power.dau" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="option.asix" name="asix-{{ i }}" disabled>
        {{ "power.asix" | translate }}
      </mat-slide-toggle>
    </ng-container>
  </div>
</div>
