<!-- <div class="register-container">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="register()">
        <mat-form-field>
          <mat-label>User</mat-label>
          <input matInput [(ngModel)]="username" type="text" name="username" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password" name="password" />
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
      <p class="login">
        If you are registered,
        <a (click)="navigateToLogin()">click here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div> -->
