<header class="main-header">
  <nav class="navbar">
    <div class="navbar-brand" href="/">
      <img class="logo" src="../../../assets/logo/logo.png" alt="Logo" [routerLink]="['/credentialManagement']"/>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="nav-link" >
          <span> userName </span>
          <span>-</span>
          <span>companyName </span>
        <a href="#" (click)="logout()"><mat-icon >exit_to_app</mat-icon></a>
        </span>
      </li>
      <!-- <li class="nav-item">
        <mat-form-field appearance="fill">
          <mat-label>Language</mat-label>
          <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)">
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{ language.label }} ({{ language.code }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li> -->
    </ul>
  </nav>
</header>
