<!-- <div class="login-container">
  <mat-card>
    <mat-card-content>
      <form (submit)="login()">
        <mat-form-field>
          <mat-label>User</mat-label>
          <input
            matInput
            [(ngModel)]="user"
            type="user"
            id="reg-user"
            name="user"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            type="password"
            id="password"
            name="password"
          />
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Enter</button>
      </form>
      <p class="register">
        If you are not registered,
        <a (click)="navigateToRegister()">click here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div> -->
