:host {
  @import "../../../styles.scss";

  .credential-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 2%;
    .credendial-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-radius: 10px;
      background: $Light-Blue-Secondary;
      box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;

      .title-credendial {
        text-align: center;
        margin: 0.5rem 0;
        h2 {
          font-size: 2rem;
        }
      }

      .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .qr-container {
          margin: 0.5rem 0;
          img{
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
