<app-navbar></app-navbar>
<div class="credendial-container">
  <div class="mandatee-container">
    <div class="title-credendial">
      <h1>{{ title }}</h1>
    </div>
    <mat-card>
      <h2 class="manda">Mandatee</h2>
      <mat-card-content>
        <form #form="ngForm" (ngSubmit)="submitCredential()" novalidate>
          <mat-form-field>
            <mat-label>{{ "mandatee.firstnameid" | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="credential.first_name"
              name="first_name"
              required
              pattern="[a-zA-Z ]*"
              #firstName="ngModel"
            />
            <mat-error *ngIf="firstName.errors && firstName.touched">
              {{
                firstName.errors["required"]
                  ? "First name is required"
                  : firstName.errors["pattern"]
                  ? "Only letters and spaces are allowed."
                  : ""
              }}
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>{{ "mandatee.last_name" | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="credential.last_name"
              name="last_name"
              required
              pattern="[a-zA-Z ]*"
              #lastName="ngModel"
            />
            <mat-error *ngIf="lastName.errors && lastName.touched">
              {{
                lastName.errors["required"]
                  ? "Last name is required"
                  : lastName.errors["pattern"]
                  ? "Only letters and spaces are allowed."
                  : ""
              }}
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>{{ "mandatee.email" | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="credential.email"
              name="email"
              required
              email
              #email="ngModel"
            />
            <mat-error *ngIf="email.errors && email.touched">
              {{
                email.errors["required"]
                  ? "Email is required"
                  : email.errors["email"]
                  ? "Email is invalid."
                  : ""
              }}
            </mat-error>
          </mat-form-field>
          <br />
          <div class="mobile">
            <div class="country">
              <mat-form-field>
                <mat-label>{{ "mandator.country" | translate }}</mat-label>
                <mat-select
                  [(ngModel)]="selectedCountry"
                  name="country"
                  #country="ngModel"
                  [disabled]="isDisabled"
                  required
                >
                  <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="country.touched && country.errors">
                  {{ country.errors['required'] ? 'Country is required.' : '' }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="phone">
              <mat-form-field>
                <mat-label>{{ "mandatee.mobile_phone" | translate }}</mat-label>
                <input
                  matInput
                  [(ngModel)]="credential.mobile_phone"
                  name="mobile_phone"
                  [disabled]="isDisabled"
                  required
                  pattern="[0-9 ]*"
                  #mobile_phone="ngModel"
                />
                <mat-error *ngIf="mobile_phone.errors && mobile_phone.touched">
                  {{
                    mobile_phone.errors["required"]
                      ? "Mobile phone is required"
                      : mobile_phone.errors["pattern"]
                      ? "Only numbers"
                      : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

    <app-power
      [isDisabled]="isDisabled"
      [viewMode]="viewMode"
      [power]="tempPowers"
      [addedOptions]="addedOptions"
      (addedOptionsChange)="addOption($event)"
      (selectedOptionChange)="selectedOption = $event"
      (handleSelectChange)="handleSelectChange($event)"
    ></app-power>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      *ngIf="hideButton"
      [routerLink]="['/credentialManagement']"
    >
      {{ "credentialManagement.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="submitCredential()"
      *ngIf="hideButton"
      [disabled]="!form.valid"
      [routerLink]="['/credentialManagement']"
    >
      {{ "credentialManagement.create" | translate }}
    </button>
  </form>
</mat-card-content>
</mat-card>  </div>
  <div class="mandator-container">
    <h2 class="manda">Mandator</h2>
    <br />
    <mat-card-content>
      <h6>{{ "mandator.organizationid" | translate }}</h6>
      <p>{{ mandator?.organizationIdentifier || "VATES-B123456" }}</p>
      <h6>{{ "mandator.organization" | translate }}</h6>
      <p>{{ mandator?.organization || "Institut Puig Castellar" }}</p>
      <h6>{{ "mandator.name" | translate }}</h6>
      <p>{{ mandator?.commonName || "Puig"}}</p>
      <h6>{{ "mandator.email" | translate }}</h6>
      <p>{{ mandator?.emailAddress || "principal@elpuig.xeill.net" }}</p>
      <h6>{{ "mandator.serialNumber" | translate }}</h6>
      <p>{{ mandator?.serialNumber || "B123456" }}</p>
      <h6>{{ "mandator.country" | translate }}</h6>
      <p>{{ mandator?.country || "ES" }}</p>
    </mat-card-content>
    <div class="btn-reminder">
      <button
        mat-raised-button
        color="primary"
        *ngIf="showButton"
        (click)="triggerSendReminder()"
      >
        {{ "credentialManagement.sendReminder" | translate }}
      </button>
    </div>
    <div class="btn-cancel">
      <button
        mat-raised-button
        color="secondary"
        *ngIf="showButton"
        [routerLink]="['/credentialManagement']"
      >
        {{ "credentialManagement.cancel" | translate }}
      </button>
    </div>
  </div>
</div>
