@import "../../../styles.scss";

:host {
  .credential-management-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 24px;
    border-radius: 5px;
    align-items: center;

    .title {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    th {
      background-color: $Blue;
      color: $White;
    }

    .table-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .table-row-odd {
      background-color: $Light-Blue-Secondary;
    }

    .table-row-even {
      background-color: $White;
    }

    tr {
      cursor: pointer;
      &:hover {
        background-color: $Light-Blue-Primary;
      }
    }
  }

  .create-button {
    margin-left: auto;
  }
}
